<div class="span6 pull-right" style="text-align:right">
  <%= link_to("Products Page", {:action => 'index'}) %>
</div>

<h1 style="color: white;">
  Search Results
</h1>
<br>

<% if @products.empty? %>
  <h2 style="color: red;">
    No results found ;(
  </h2>
<%else%>
  <%-@products.each do |product| %>
    <%= link_to(product) do %>
    <div class="card-deck"
      <div class="card">
      <div class="col-sm-4 d-flex justify-content-center">
      <div class="card text-center" style="width: 18rem; background-color:transparent;">
      <img class="card-img-top" src="<%= product.cover%>" alt="Sample Pack Picture">
      <div class="card-body">
      <h5 class="card-title"><%=product.title%></h5>
      <p class="card-text"><%=product.price%></p>
      <a href="#" class="btn btn-warning">Add To Cart</a>
       </div>
      </div>
     <%end%>
    </div>
   </div>
  <%end%>
 </div>
<%end%>
