<div class="span6 pull-right" style="text-align:right">
  <%= link_to("Products Page", {:action => 'index'}) %>
</div>

<div class="show row">
  <div class="cover col-md-4">
    <img src="<%=@product.cover%>">
  </div>

  <div class="col-sm-8">
    <h3 class="product-title" style="color:silver;"><%=@product.title %></h3>
    <p class="product-description" style="color:silver;"><%= @product.description %></p>
    <p class="product-price" style="color:silver; text-decoration:line-through;">List Price: <%= @product.price %></p>
    <p class="product-actual-price" style="color:red;">Our Price: $<%= @product.actual_price%></p>
  </div>
</div>
