<div class="span6 pull-right" style="text-align:right">
  <%= link_to("Products Page", {:action => 'index'}) %>
</div>


<div class="show row">
  <div class="cover col-md-4"> <img src="<%=@product.cover%>"></div>

  <div class="col-sm-8">
    <h3 class="product-title" style="color:white;"><%= @product.title %></h3>
    <p class="product-price" style="color:white;"><%= @product.price %></p>
    <p class="product-description" style="color:white;"><%= @product.description %></p>

  </div>
</div>
