<!DOCTYPE html>
<html>
  <head>
    <title>Samplezon</title>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="http://content.codecademy.com/projects/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,500' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="header">
      <div class="container">
        <div class="navbar">

          <%# This is the logo at the top of the home page %>
            <a href="/"><img class="logo" src="https://i.imgur.com/susZNnd.png"/></a>

            <%# This is the searchbar at the top of the home page %>
              <form id="form" class="d-flex" action="/search">
                <input type="search" class="form-control mr-sm-2" id="query" size="50" name="q" placeholder="Search...">
                <button class="btn btn-warning my-2 my-sm-0">Search</button>
              </form>


              <div class="nav pull-right" style="position:relative;top:20px;">
                <% if current_user %>
                  <ul>
                    <%= link_to "Log out", logout_path, method: "delete", class: "btn btn-warning", style: "position:relative;bottom:10px;left:340px" %></li>
                    <%= link_to "Account: (#{current_user.email})", cart_path, {:style=>'position:relative;right:70px;top:35px;'} %>
                    <%= link_to "My Cart (#{current_order.order_items.size})", cart_path, {:style=>'position:relative;top:35px;right:0px'} %>
                  </ul>
                <% else %>
                  <ul class="d-flex">
                    <li><%= link_to "Signup", 'signup', class: "btn btn-warning", style: "position:relative;bottom:10px;" %></li>&nbsp;
                    <li><%= link_to "Login", 'login', class: "btn btn-warning", style: "position:relative;bottom:10px;" %></li>&nbsp;
                  </ul>
                <% end %>
              </div>
          </div>

            <a id="nothing" style="font-weight:bold; color:white; text-decoration:none; font-family:Verdana;" href="#">Departments</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nothing" style="text-decoration:none; font-family:Verdana;" href="#">Products</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nothing" style="text-decoration:none;font-family:Verdana;" href="#">Best Sellers</a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a id="nothing" style="text-decoration:none;font-family:Verdana;" href="#">New Releases</a>&nbsp;&nbsp;&nbsp;&nbsp;
          </div>

          <div class="main">
            <div class="container">
              <%# This is the link for login/signup %>

                <%= yield %>
                <br><br>
              </div>
            </div>
            <div class="footer">
              <div class="container">
                <div class="col-md-2">
                  <h3>Samplezon</h3>
                  <ul>
                    <li>
                      <a href="#">Install</a>
                    </li>
                    <li>
                      <a href="#">Mobile</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul>
                    <h3>About</h3>
                    <li>
                      <a href="#">Blog</a>
                    </li>
                    <li>
                      <a href="#">Team</a>
                    </li>
                    <li>
                      <a href="#">Jobs</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul>
                    <h3>Support</h3>
                    <li>
                      <a href="#">Help Center</a>
                    </li>
                    <li>
                      <a href="#">Get Started</a>
                    </li>
                    <li>
                      <a href="#">Contact Us</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-2">
                  <ul>
                    <h3>Community</h3>
                    <li>
                      <a href="#">Facebook</a>
                    </li>
                    <li>
                      <a href="#">Twitter</a>
                    </li>
                    <li>
                      <a href="#">Google+</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </body>
        </html>
